.media-box {
  position: relative; }
  @media screen and (max-width: 40.0525em) {
    .media-box {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem; } }
  @media screen and (min-width: 40.0625em) {
    .media-box {
      display: block;
      padding-left: 160px;
      margin-bottom: 4rem; } }
  .media-box .media-image {
    width: 130px;
    height: 130px; }
    @media screen and (max-width: 40.0525em) {
      .media-box .media-image {
        display: flex;
        flex-basis: 130px; } }
    @media screen and (min-width: 40.0625em) {
      .media-box .media-image {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        display: block;
        margin: auto; } }
  @media screen and (max-width: 40.0525em) {
    .media-box .media-title {
      display: flex;
      flex-basis: calc(100% - 145px);
      align-items: center;
      padding-left: 15px; } }
  @media screen and (min-width: 40.0625em) {
    .media-box .media-title {
      display: block;
      width: 100%; } }
  .media-box .media-content {
    display: block; }
    @media screen and (max-width: 40.0525em) {
      .media-box .media-content {
        flex-basis: 100%;
        margin-top: 15px; } }

/* accordion styles start */
.govuk-accordion.custom {
  border: none !important; }
  .govuk-accordion.custom .govuk-accordion__controls {
    display: none !important; }
  .govuk-accordion.custom .govuk-accordion__section {
    margin-bottom: 10px !important; }
    .govuk-accordion.custom .govuk-accordion__section .govuk-accordion__section-header .govuk-accordion__section-heading .govuk-accordion__section-button {
      padding: 10px 20px !important;
      background-color: #1e1a32 !important;
      color: #ffb001 !important;
      padding-right: 60px !important;
      position: relative; }
      .govuk-accordion.custom .govuk-accordion__section .govuk-accordion__section-header .govuk-accordion__section-heading .govuk-accordion__section-button:after {
        content: "";
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        left: auto;
        display: block;
        margin: auto;
        width: 32px;
        height: 40px;
        background: url("accordion-arrow.svg") no-repeat center center; }
      .govuk-accordion.custom .govuk-accordion__section .govuk-accordion__section-header .govuk-accordion__section-heading .govuk-accordion__section-button > span {
        display: inline-block !important; }
        .govuk-accordion.custom .govuk-accordion__section .govuk-accordion__section-header .govuk-accordion__section-heading .govuk-accordion__section-button > span.govuk-accordion__section-toggle {
          display: none !important; }
      .govuk-accordion.custom .govuk-accordion__section .govuk-accordion__section-header .govuk-accordion__section-heading .govuk-accordion__section-button[aria-expanded="false"]:after {
        transform: rotate(180deg); }
    .govuk-accordion.custom .govuk-accordion__section .govuk-accordion__section-content {
      padding-top: 20px !important;
      padding-bottom: 0 !important; }
      .govuk-accordion.custom .govuk-accordion__section .govuk-accordion__section-content ul {
        margin: 0 !important;
        background-color: #efefef !important;
        padding: 15px 15px 15px 30px !important; }

/* accordion styles end */

/*# sourceMappingURL=help-to-grow.css.map */
