a[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #fff;
  font-size: 1em;
  text-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button {
  padding: 1em 2em;
  margin: 0;
  position: relative;
  display: inline-block;
}

.button.styl-material {
  -webkit-transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
  transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
}

.ripple-obj {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  fill: #AD1457;
}

.ripple-obj use {
  opacity: 0;
}

.button.styl-material {
  background: #2196F3;
}

.button.styl-material:hover,
.button.styl-material:focus {
  background: #2b9bf4;
}

.button.styl-material:active {
  transform: translate(0px, 1px);
  box-shadow: none;
}

// Button Hover Gradient

.btn.btn-with-animation {
  color: #fff;
  padding: 15px;
  min-width: 160px;
  max-width: 100%;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 22px;
  transition: all .5s;
  &.light {
    background: linear-gradient(90deg, #00402f 0, #417c3d 50%, #417c3d 100%) !important;
    background-size: 200% !important;
    background-position: 100% !important;
  }
  &.dark {
    background: linear-gradient(90deg, #417c3d 0, #00402f 50%, #00402f 100%) !important;
    background-size: 200% !important;
    background-position: 100% !important;
  }
  &:hover,
  &:focus,
  &:active {
    background-position: 0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
}
