$color_1: #333333;
$color_2: #fff;
$color_3: #ffffff;
$font_family_1: "Panton", sans-serif;
$background_color_1: transparent;
$background_color_2: #f0f0f0;
$background_color_3: #FAFAFA;
$background_color_4: #6A6A6A;
$border_bottom_color_1: #EEEEEE;
