@import "variables";
@import 'layout';
@import 'box-figure';
@import 'buttons';
@import 'hotspot';
@import 'popup';
@import 'map';
@import 'lottie';
@import 'modal';
@import "banner";
@import "button-border-animation";
h2{margin-bottom: 20px;}
a:hover{text-decoration: none;}
ul{list-style: none; margin: 0; padding: 0;}
.footer p{margin-bottom: 0px;}

