.annotated-wrapper {
  width: 960px;
  margin: 0 auto;
  .annotated-bg {
    min-height: 755px;
    height: 755px;
    max-height: 755px;
    overflow: hidden;
    position: relative;
    .pins-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      .map-pins {
        z-index: 1;
        position: relative;
        height: 100%;
        .tooltip-inner {
          padding: 9px 21px;
          position: relative;
          &:after {
            position: absolute;
            top: -15px;
            left: -5px;
            right: 0;
            margin: auto;
            width: 18px;
          }
        }
        .tooltip-arrow {
          display: none;
        }
        span {
          &.marker {
            width: 32px;
            height: 50px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
    .place-info {
      position: relative;
      width: 100%;
      height: 0;
      .place-content,
      .place-image {
        position: absolute;
        bottom: auto;
        right: 0;
        left: 0;
        z-index: 1008;
        width: 100%;
        transition: all 1.5s ease-in-out;
        overflow: hidden;
      }
      .back-button {
        border: none;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        display: inline-block;
        background: url("imgs/back-arrow.png") no-repeat center center transparent;
        z-index: 1009;
        opacity: 0;
        transition: all 1s ease-in-out;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
      }
      .place-image {
        top: -544px;
        height: 544px;
      }
      .place-content {
        bottom: -1155px;
        height: 400px;
        padding: 50px 50px;
        background-color: #000000;
        * {
          color: #ffffff;
        }
        .inner-wrapper {
          width: 100%;
          height: 245px;
          overflow-y: auto;

        }
      }
    }
    &.show-details {
      .place-info {
        .back-button {
          opacity: 1;
        }
        .place-image,
        .place-content {
          bottom: -944px;
          transition: all 1s ease-in-out;
        }
        .place-image {
          top: 0;
        }
      }
      &.hide-again {
        overflow: hidden;
        .place-info {
          .back-button {
            opacity: 0;
          }
          .place-image {

          }
          .place-content {

          }
        }
      }
    }
  }
}
