.annotated-wrapper {
  width: 960px;
  margin: 0 auto;
  * {
    box-sizing: border-box;
  }
  .annotated-bg {
    min-height: 755px;
    height: 755px;
    max-height: 755px;
    position: relative;
    .pins-wrapper {
      display: block;
      position: relative;
      height: 755px;
      width: 100%;
      overflow: hidden;
      .map-pins {
        z-index: 1;
        position: relative;
        height: 100%;
        .tooltip-inner {
          padding: 9px 21px;
          position: relative;
          &:after {
            position: absolute;
            top: -15px;
            left: -5px;
            right: 0;
            margin: auto;
            width: 18px;
          }
        }
        .tooltip-arrow {
          display: none;
        }
        span {
          &.marker {
            width: 32px;
            height: 50px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
    .place-info {
      position: absolute;
      width: 100%;
      height: 944px; //100%;
      overflow: hidden;
      pointer-events: none;
      z-index: 1100;
      .place-content,
      .place-image {
        position: absolute;
        bottom: auto;
        right: 0;
        left: 0;
        width: 100%;
        transition: all 1.5s ease-in-out;
        overflow: hidden;
      }
      .back-button {
        pointer-events: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        display: inline-block;
        background: url("imgs/back-arrow.png") no-repeat center center transparent;
        opacity: 0;
        transition: all 1s ease-in-out;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
      }
      .place-image {
        top: -544px;
        height: 544px;
        background-color: rgba(0,0,0,0.5);
      }
      .place-content {
        bottom: -400px;
        height: 400px;
        padding: 50px 50px;
        background-color: #000000;
        * {
          color: #ffffff;
        }
        .inner-wrapper {
          width: 100%;
          height: 245px;
          overflow-y: auto;
        }
      }
      .threesixty-wrapper {
        .threesixty  {
          background-color: rgba(0,0,0,0.5) !important;
          .threesixty-frame[style*="block"] {
            z-index: 1100 !important;
          }
        }
      }
      .ui {
        display: none !important;
      }
      &.single {
        .ui {
          display: none !important;
        }
      }
      &.multi {
        .ui {
          height: 544px;
          .prev,
          .next {
            display: block;
          }
          .zoom-io,
          .play-pause{
            display: none;
          }
        }
      }
      &.rotate {
        .ui {
          .prev,
          .next {
            display: none;
          }
          .zoom-io,
          .play-pause {
            display: block;
          }
        }
      }
      &.loaded {
        .ui {
          display: block !important;
        }
        + .pins-wrapper {
          opacity: 0 !important;
          z-index: -1 !important;
        }
      }
    }
    &.show-details {
      .place-info {
        pointer-events: auto;
        .back-button {
          opacity: 1;
          z-index: 1100;
          pointer-events: auto;
        }
        .place-image,
        .place-content {
          bottom: 0; // -189px;
          transition: all 1s ease-in-out;
        }
        .place-image {
          top: 0;
        }
      }
    }
  }
}
.annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper {
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #93928d;
    background-color: #93928d;
    border-radius: 10px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #e5e3d9;
    border-radius: 10px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3;
  }
}