.annotated-wrapper {
  width: 960px;
  margin: 0 auto;
  .annotated-bg {
    min-height: 845px;
    height: 845px;
    max-height: 845px;
    position: relative;
    overflow: hidden;
    .pins-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      .map-pins {
        z-index: 1;
        position: relative;
        height: 100%;
        .tooltip-inner {
          padding: 9px 21px;
          position: relative;
          &:after {
            position: absolute;
            top: -15px;
            left: -5px;
            right: 0;
            margin: auto;
            width: 18px;
          }
        }
        .tooltip-arrow {
          display: none;
        }
        span {
          &.marker {
            width: 32px;
            height: 50px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
    .place-image,
    .place-info {
      position: absolute;
      bottom: auto;
      right: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      transition: all 1s ease-in-out;
      overflow: hidden;
    }
    .place-image {
      top: 0;
      height: 544px;
      transform: translateY(-544px);
    }
    .place-info {
      top: 544px;
      height: 400px;
      padding: 50px 50px;
      transform: translateY(400px);
      background-color: #000000;
      * {
        color: #ffffff;
      }
      .inner-wrapper {
        width: 100%;
        height: 245px;
        overflow-y: auto;

      }
    }
    &.show-details {
      overflow: visible;
      .place-image,
      .place-info {
        transform: translateY(0);
        transition: all 1s ease-in-out;
      }
      .place-image {

      }
      .place-info {

      }
    }
  }
}
