/*
For naming convention of color variable I have used this site
https://www.htmlcsscolor.com/hex/262928
we have to place the hex code of color after the last slash (/), It give a nice name for the color
*/
$dark-gray: #4D4D4D;
$silver: #C7C7CC; //#bababa;
$white-smoke: #E5E5EA; //#f3f1f1;
@mixin mxTransition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}
@mixin styled-scrollbar($trackColor,$trackPieceColor,$thumbColor,$scrollBarSize,$borderRadiuSize) {
  //more about styling scrollbar: https://css-tricks.com/custom-scrollbars-in-webkit/
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    width: $scrollBarSize;
    height: $scrollBarSize;
  }
  //button on ending points
  &::-webkit-scrollbar-button {
    border-radius: $borderRadiuSize;
    /*-webkit-box-shadow: inset 0 0 12px $thumbColor;
    box-shadow: inset 0 0 12px $thumbColor;*/
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $trackColor;
    box-shadow: inset 0 0 6px $trackColor;
    border-radius: $borderRadiuSize;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: $trackPieceColor;
  }
  &::-webkit-scrollbar-thumb {
    //-webkit-box-shadow: inset 0 0 6px $thumbColor;
    //box-shadow: inset 0 0 6px $thumbColor;
    background-color: $thumbColor;
    border-radius: $borderRadiuSize;
  }
  //bottom right corner button
  &::-webkit-scrollbar-corner {
    border-radius: $borderRadiuSize;
    /*-webkit-box-shadow: inset 0 0 12px $thumbColor;
    box-shadow: inset 0 0 12px $thumbColor;*/
  }
  &::-webkit-resizer {
    border-radius: $borderRadiuSize;
  }
}
@import "structure";
@import "skin";
