$screen-xs: 40.0525em;
$screen-sm: 40.0625em;

.media-box {
  position: relative;
  @media screen and (max-width: $screen-xs) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  @media screen and (min-width: $screen-sm) {
    display: block;
    padding-left: 160px;
    margin-bottom: 4rem;
  }
  .media-image {
    width: 130px;
    height: 130px;
    @media screen and (max-width: $screen-xs) {
      display: flex;
      flex-basis: 130px;
    }
    @media screen and (min-width: $screen-sm) {
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      display: block;
      margin: auto;
    }
  }
  .media-title {
    @media screen and (max-width: $screen-xs) {
      display: flex;
      flex-basis: calc(100% - 145px);
      align-items: center;
      padding-left: 15px;
    }
    @media screen and (min-width: $screen-sm) {
      display: block;
      width: 100%;
    }
  }
  .media-content {
    display: block;
    @media screen and (max-width: $screen-xs) {
      flex-basis: 100%;
      margin-top: 15px;
    }
  }
}

/* accordion styles start */
.govuk-accordion.custom {
  border: none !important;
  .govuk-accordion__controls {
    display: none !important;
  }
  .govuk-accordion__section {
    margin-bottom: 10px !important;
    .govuk-accordion__section-header {
      .govuk-accordion__section-heading {
        .govuk-accordion__section-button {
          padding: 10px 20px !important;
          background-color: #1e1a32 !important;
          color: #ffb001 !important;
          padding-right: 60px !important;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 20px;
            bottom: 0;
            left: auto;
            display: block;
            margin: auto;
            width: 32px;
            height: 40px;
            background: url("accordion-arrow.svg") no-repeat center center;
          }
          > span {
            display: inline-block !important;
            &.govuk-accordion__section-toggle {
              display: none !important;
            }
          }
          &[aria-expanded="false"] {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .govuk-accordion__section-content {
      padding-top: 20px !important;
      padding-bottom: 0 !important;
      ul {
        margin: 0 !important;
        background-color: #efefef !important;
        padding: 15px 15px 15px 30px !important;
      }
    }
  }
}
/* accordion styles end */
