/*
For naming convention of color variable I have used this site
https://www.htmlcsscolor.com/hex/262928
we have to place the hex code of color after the last slash (/), It give a nice name for the color
*/
.annotated-wrapper {
  width: 960px;
  margin: 0 auto; }
  .annotated-wrapper .annotated-bg {
    min-height: 755px;
    height: 755px;
    max-height: 755px;
    position: relative; }
    .annotated-wrapper .annotated-bg .pins-wrapper {
      position: relative;
      height: 755px;
      width: 100%;
      overflow: hidden; }
      .annotated-wrapper .annotated-bg .pins-wrapper .map-pins {
        z-index: 1;
        position: relative;
        height: 100%; }
        .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner {
          padding: 9px 21px;
          position: relative; }
          .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner:after {
            position: absolute;
            top: -15px;
            left: -5px;
            right: 0;
            margin: auto;
            width: 18px; }
        .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-arrow {
          display: none; }
        .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker {
          width: 32px;
          height: 50px;
          position: absolute;
          left: 0;
          top: 0; }
    .annotated-wrapper .annotated-bg .place-info {
      position: absolute;
      width: 100%;
      height: 944px;
      overflow: hidden;
      pointer-events: none;
      z-index: 1100; }
      .annotated-wrapper .annotated-bg .place-info .place-content,
      .annotated-wrapper .annotated-bg .place-info .place-image {
        position: absolute;
        bottom: auto;
        right: 0;
        left: 0;
        width: 100%;
        transition: all 1.5s ease-in-out;
        overflow: hidden; }
      .annotated-wrapper .annotated-bg .place-info .back-button {
        pointer-events: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        display: inline-block;
        background: url("imgs/back-arrow.png") no-repeat center center transparent;
        opacity: 0;
        transition: all 1s ease-in-out;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0; }
      .annotated-wrapper .annotated-bg .place-info .place-image {
        top: -544px;
        height: 544px;
        background-color: rgba(0, 0, 0, 0.5); }
      .annotated-wrapper .annotated-bg .place-info .place-content {
        bottom: -400px;
        height: 400px;
        padding: 50px 50px;
        background-color: #000000; }
        .annotated-wrapper .annotated-bg .place-info .place-content * {
          color: #ffffff; }
        .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper {
          width: 100%;
          height: 245px;
          overflow-y: auto; }
    .annotated-wrapper .annotated-bg.show-details .place-info {
      pointer-events: auto; }
      .annotated-wrapper .annotated-bg.show-details .place-info .back-button {
        opacity: 1;
        z-index: 1100;
        pointer-events: auto; }
      .annotated-wrapper .annotated-bg.show-details .place-info .place-image,
      .annotated-wrapper .annotated-bg.show-details .place-info .place-content {
        bottom: 0;
        transition: all 1s ease-in-out; }
      .annotated-wrapper .annotated-bg.show-details .place-info .place-image {
        top: 0; }

.annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper::-webkit-scrollbar {
    width: 10px; }
  .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #93928d;
    background-color: #93928d;
    border-radius: 10px; }
  .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper::-webkit-scrollbar-thumb {
    background: #e5e3d9;
    border-radius: 10px; }
  .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3; }

.annotated-wrapper .annotated-bg {
  background: url("imgs/maketa.jpg") no-repeat center center;
  background-size: cover; }
  .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner {
    background-color: #E5E5EA;
    color: #4D4D4D;
    font-size: 0.875rem;
    position: relative;
    border: 1px solid #C7C7CC;
    box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.1); }
    .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner:after {
      content: url("imgs/tooltip-arrow.png"); }
  .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker {
    background: url("imgs/white-marker.png") no-repeat center center;
    z-index: 2;
    cursor: pointer; }
    .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker:hover, .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker:focus {
      background: url("imgs/hover-marker.png") no-repeat center center; }

/*# sourceMappingURL=default.css.map */
