/*
For naming convention of color variable I have used this site
https://www.htmlcsscolor.com/hex/262928
we have to place the hex code of color after the last slash (/), It give a nice name for the color
*/
.annotated-wrapper {
  width: 960px;
  margin: 0 auto; }
  .annotated-wrapper * {
    box-sizing: border-box; }
  .annotated-wrapper .annotated-bg {
    min-height: 755px;
    height: 755px;
    max-height: 755px;
    position: relative; }
    .annotated-wrapper .annotated-bg .pins-wrapper {
      display: block;
      position: relative;
      height: 755px;
      width: 100%;
      overflow: hidden; }
      .annotated-wrapper .annotated-bg .pins-wrapper .map-pins {
        z-index: 1;
        position: relative;
        height: 100%; }
        .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner {
          padding: 9px 21px;
          position: relative; }
          .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner:after {
            position: absolute;
            top: -15px;
            left: -5px;
            right: 0;
            margin: auto;
            width: 18px; }
        .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-arrow {
          display: none; }
        .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker {
          width: 32px;
          height: 50px;
          position: absolute;
          left: 0;
          top: 0; }
    .annotated-wrapper .annotated-bg .place-info {
      position: absolute;
      width: 100%;
      height: 944px;
      overflow: hidden;
      pointer-events: none;
      z-index: 1100; }
      .annotated-wrapper .annotated-bg .place-info .place-content,
      .annotated-wrapper .annotated-bg .place-info .place-image {
        position: absolute;
        bottom: auto;
        right: 0;
        left: 0;
        width: 100%;
        transition: all 1.5s ease-in-out;
        overflow: hidden; }
      .annotated-wrapper .annotated-bg .place-info .back-button {
        pointer-events: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        display: inline-block;
        background: url("imgs/back-arrow.png") no-repeat center center transparent;
        opacity: 0;
        transition: all 1s ease-in-out;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0; }
      .annotated-wrapper .annotated-bg .place-info .place-image {
        top: -544px;
        height: 544px;
        background-color: rgba(0, 0, 0, 0.5); }
      .annotated-wrapper .annotated-bg .place-info .place-content {
        bottom: -400px;
        height: 400px;
        padding: 50px 50px;
        background-color: #000000; }
        .annotated-wrapper .annotated-bg .place-info .place-content * {
          color: #ffffff; }
        .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper {
          width: 100%;
          height: 245px;
          overflow-y: auto; }
      .annotated-wrapper .annotated-bg .place-info .threesixty-wrapper .threesixty {
        background-color: rgba(0, 0, 0, 0.5) !important; }
        .annotated-wrapper .annotated-bg .place-info .threesixty-wrapper .threesixty .threesixty-frame[style*="block"] {
          z-index: 1100 !important; }
      .annotated-wrapper .annotated-bg .place-info .ui {
        display: none !important; }
      .annotated-wrapper .annotated-bg .place-info.single .ui {
        display: none !important; }
      .annotated-wrapper .annotated-bg .place-info.multi .ui {
        height: 544px; }
        .annotated-wrapper .annotated-bg .place-info.multi .ui .prev,
        .annotated-wrapper .annotated-bg .place-info.multi .ui .next {
          display: block; }
        .annotated-wrapper .annotated-bg .place-info.multi .ui .play-pause {
          display: none; }
      .annotated-wrapper .annotated-bg .place-info.rotate .ui .prev,
      .annotated-wrapper .annotated-bg .place-info.rotate .ui .next {
        display: none; }
      .annotated-wrapper .annotated-bg .place-info.rotate .ui .play-pause {
        display: block; }
      .annotated-wrapper .annotated-bg .place-info.loaded .ui {
        display: block !important; }
      .annotated-wrapper .annotated-bg .place-info.loaded + .pins-wrapper {
        opacity: 0 !important;
        z-index: -1 !important; }
    .annotated-wrapper .annotated-bg.show-details .place-info {
      pointer-events: auto; }
      .annotated-wrapper .annotated-bg.show-details .place-info .back-button {
        opacity: 1;
        z-index: 1100;
        pointer-events: auto; }
      .annotated-wrapper .annotated-bg.show-details .place-info .place-image,
      .annotated-wrapper .annotated-bg.show-details .place-info .place-content {
        bottom: 0;
        transition: all 1s ease-in-out; }
      .annotated-wrapper .annotated-bg.show-details .place-info .place-image {
        top: 0; }

.annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper::-webkit-scrollbar {
    width: 10px; }
  .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #93928d;
    background-color: #93928d;
    border-radius: 10px; }
  .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper::-webkit-scrollbar-thumb {
    background: #e5e3d9;
    border-radius: 10px; }
  .annotated-wrapper .annotated-bg .place-info .place-content .inner-wrapper::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.annotated-wrapper {
  /* line 114, ../../scss/_ui-spinner.scss */
  /* line 120, ../../scss/_ui-spinner.scss */
  /* line 130, ../../scss/_ui-spinner.scss */
  /* line 133, ../../scss/_ui-spinner.scss */
  /* line 142, ../../scss/_ui-spinner.scss */
  /* line 145, ../../scss/_ui-spinner.scss */
  /* line 1, ../../scss/_ui.scss */ }
  .annotated-wrapper .annotated-bg {
    background: url("imgs/maketa.jpg") no-repeat center center;
    background-size: cover; }
    .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner {
      background-color: #E5E5EA;
      color: #4D4D4D;
      font-size: 0.875rem;
      position: relative;
      border: 1px solid #C7C7CC;
      box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.1); }
      .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner:after {
        content: url("imgs/tooltip-arrow.png"); }
    .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker {
      background: url("imgs/white-marker.png") no-repeat center center;
      z-index: 2;
      cursor: pointer; }
      .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker:hover, .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker:focus {
        background: url("imgs/hover-marker.png") no-repeat center center; }
@-webkit-keyframes ui-spinner-rotate-right {
  /* line 58, ../../scss/_ui-spinner.scss */
  0% {
    -webkit-transform: rotate(0deg); }
  /* line 59, ../../scss/_ui-spinner.scss */
  25% {
    -webkit-transform: rotate(180deg); }
  /* line 60, ../../scss/_ui-spinner.scss */
  50% {
    -webkit-transform: rotate(180deg); }
  /* line 61, ../../scss/_ui-spinner.scss */
  75% {
    -webkit-transform: rotate(360deg); }
  /* line 62, ../../scss/_ui-spinner.scss */
  100% {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes ui-spinner-rotate-left {
  /* line 66, ../../scss/_ui-spinner.scss */
  0% {
    -webkit-transform: rotate(0deg); }
  /* line 67, ../../scss/_ui-spinner.scss */
  25% {
    -webkit-transform: rotate(0deg); }
  /* line 68, ../../scss/_ui-spinner.scss */
  50% {
    -webkit-transform: rotate(180deg); }
  /* line 69, ../../scss/_ui-spinner.scss */
  75% {
    -webkit-transform: rotate(180deg); }
  /* line 70, ../../scss/_ui-spinner.scss */
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes ui-spinner-rotate-right {
  /* line 74, ../../scss/_ui-spinner.scss */
  0% {
    -moz-transform: rotate(0deg); }
  /* line 75, ../../scss/_ui-spinner.scss */
  25% {
    -moz-transform: rotate(180deg); }
  /* line 76, ../../scss/_ui-spinner.scss */
  50% {
    -moz-transform: rotate(180deg); }
  /* line 77, ../../scss/_ui-spinner.scss */
  75% {
    -moz-transform: rotate(360deg); }
  /* line 78, ../../scss/_ui-spinner.scss */
  100% {
    -moz-transform: rotate(360deg); } }
@-moz-keyframes ui-spinner-rotate-left {
  /* line 82, ../../scss/_ui-spinner.scss */
  0% {
    -moz-transform: rotate(0deg); }
  /* line 83, ../../scss/_ui-spinner.scss */
  25% {
    -moz-transform: rotate(0deg); }
  /* line 84, ../../scss/_ui-spinner.scss */
  50% {
    -moz-transform: rotate(180deg); }
  /* line 85, ../../scss/_ui-spinner.scss */
  75% {
    -moz-transform: rotate(180deg); }
  /* line 86, ../../scss/_ui-spinner.scss */
  100% {
    -moz-transform: rotate(360deg); } }
@keyframes ui-spinner-rotate-right {
  /* line 90, ../../scss/_ui-spinner.scss */
  0% {
    transform: rotate(0deg); }
  /* line 91, ../../scss/_ui-spinner.scss */
  25% {
    transform: rotate(180deg); }
  /* line 92, ../../scss/_ui-spinner.scss */
  50% {
    transform: rotate(180deg); }
  /* line 93, ../../scss/_ui-spinner.scss */
  75% {
    transform: rotate(360deg); }
  /* line 94, ../../scss/_ui-spinner.scss */
  100% {
    transform: rotate(360deg); } }
@keyframes ui-spinner-rotate-left {
  /* line 98, ../../scss/_ui-spinner.scss */
  0% {
    transform: rotate(0deg); }
  /* line 99, ../../scss/_ui-spinner.scss */
  25% {
    transform: rotate(0deg); }
  /* line 100, ../../scss/_ui-spinner.scss */
  50% {
    transform: rotate(180deg); }
  /* line 101, ../../scss/_ui-spinner.scss */
  75% {
    transform: rotate(180deg); }
  /* line 102, ../../scss/_ui-spinner.scss */
  100% {
    transform: rotate(360deg); } }
  .annotated-wrapper .ui-spinner .side {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute; }
  .annotated-wrapper .ui-spinner .side .fill {
    border-radius: 999px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear; }
  .annotated-wrapper .ui-spinner .side-left {
    left: 0; }
  .annotated-wrapper .ui-spinner .side-left .fill {
    left: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-animation-name: ui-spinner-rotate-left;
    -moz-animation-name: ui-spinner-rotate-left;
    -ms-animation-name: ui-spinner-rotate-left;
    -o-animation-name: ui-spinner-rotate-left;
    animation-name: ui-spinner-rotate-left;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  .annotated-wrapper .ui-spinner .side-right {
    left: 50%; }
  .annotated-wrapper .ui-spinner .side-right .fill {
    left: -100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-animation-name: ui-spinner-rotate-right;
    -moz-animation-name: ui-spinner-rotate-right;
    -ms-animation-name: ui-spinner-rotate-right;
    -o-animation-name: ui-spinner-rotate-right;
    animation-name: ui-spinner-rotate-right;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  .annotated-wrapper .ui {
    width: 100%;
    position: relative; }
    .annotated-wrapper .ui .prev,
    .annotated-wrapper .ui .next {
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.3);
      font-size: 2.0em;
      position: absolute;
      display: inline-block;
      color: #CDD3D1;
      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 9999; }
      .annotated-wrapper .ui .prev:hover, .annotated-wrapper .ui .prev:focus, .annotated-wrapper .ui .prev:active,
      .annotated-wrapper .ui .next:hover,
      .annotated-wrapper .ui .next:focus,
      .annotated-wrapper .ui .next:active {
        text-decoration: none; }
    .annotated-wrapper .ui .next {
      right: 0;
      left: auto; }
    .annotated-wrapper .ui .prev {
      right: auto;
      left: 0; }
    .annotated-wrapper .ui .play-pause {
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
      margin: auto;
      width: 60px;
      height: 60px;
      background: url("imgs/play-button.png") no-repeat center center;
      background-size: 25px; }
      .annotated-wrapper .ui .play-pause.active {
        background: url("imgs/pause-button.png") no-repeat center center;
        background-size: 25px; }
  .annotated-wrapper .ui-spinner {
    border-radius: 100%;
    width: 46px;
    height: 46px;
    background: #dddddd;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .annotated-wrapper .ui-spinner:after {
      content: "";
      background: transparent;
      position: absolute;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      top: 9px;
      left: 9px;
      display: block; }
    .annotated-wrapper .ui-spinner .side .fill {
      background: #3c76ca;
      -webkit-animation-duration: 3s;
      -moz-animation-duration: 3s;
      -ms-animation-duration: 3s;
      -o-animation-duration: 3s;
      animation-duration: 3s;
      opacity: 0.8; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  word-wrap: break-word;
  opacity: 0; }
  .tooltip.show {
    opacity: 0.9; }
  .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem; }
    .tooltip .arrow::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid; }

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0; }
  .bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 0; }
    .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
      top: 0;
      border-width: 0.4rem 0.4rem 0;
      border-top-color: #000; }

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem; }
  .bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
      right: 0;
      border-width: 0.4rem 0.4rem 0.4rem 0;
      border-right-color: #000; }

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0; }
  .bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 0; }
    .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
      bottom: 0;
      border-width: 0 0.4rem 0.4rem;
      border-bottom-color: #000; }

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem; }
  .bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
      left: 0;
      border-width: 0.4rem 0 0.4rem 0.4rem;
      border-left-color: #000; }

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: .25rem; }

/*# sourceMappingURL=default.css.map */
