/*
For naming convention of color variable I have used this site
https://www.htmlcsscolor.com/hex/262928
we have to place the hex code of color after the last slash (/), It give a nice name for the color
*/
.annotated-wrapper {
  width: 960px;
  margin: 0 auto; }
  .annotated-wrapper .annotated-bg {
    min-height: 845px;
    height: 845px;
    max-height: 845px;
    position: relative;
    overflow: hidden; }
    .annotated-wrapper .annotated-bg .pins-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden; }
      .annotated-wrapper .annotated-bg .pins-wrapper .map-pins {
        z-index: 1;
        position: relative;
        height: 100%; }
        .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner {
          padding: 9px 21px;
          position: relative; }
          .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner:after {
            position: absolute;
            top: -15px;
            left: -5px;
            right: 0;
            margin: auto;
            width: 18px; }
        .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-arrow {
          display: none; }
        .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker {
          width: 32px;
          height: 50px;
          position: absolute;
          left: 0;
          top: 0; }
    .annotated-wrapper .annotated-bg .place-image,
    .annotated-wrapper .annotated-bg .place-info {
      position: absolute;
      bottom: auto;
      right: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      transition: all 1s ease-in-out;
      overflow: hidden; }
    .annotated-wrapper .annotated-bg .place-image {
      top: 0;
      height: 544px;
      transform: translateY(-544px); }
    .annotated-wrapper .annotated-bg .place-info {
      top: 544px;
      height: 400px;
      padding: 50px 50px;
      transform: translateY(400px);
      background-color: #000000; }
      .annotated-wrapper .annotated-bg .place-info * {
        color: #ffffff; }
      .annotated-wrapper .annotated-bg .place-info .inner-wrapper {
        width: 100%;
        height: 245px;
        overflow-y: auto; }
    .annotated-wrapper .annotated-bg.show-details {
      overflow: visible; }
      .annotated-wrapper .annotated-bg.show-details .place-image,
      .annotated-wrapper .annotated-bg.show-details .place-info {
        transform: translateY(0);
        transition: all 1s ease-in-out; }

.annotated-wrapper .annotated-bg {
  background: url("imgs/maketa-short.jpg") no-repeat center center;
  background-size: cover; }
  .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner {
    background-color: #E5E5EA;
    color: #4D4D4D;
    font-size: 0.875rem;
    position: relative;
    border: 1px solid #C7C7CC;
    box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.1); }
    .annotated-wrapper .annotated-bg .pins-wrapper .map-pins .tooltip-inner:after {
      content: url("imgs/tooltip-arrow.png"); }
  .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker {
    background: url("imgs/white-marker.png") no-repeat center center;
    z-index: 3;
    cursor: pointer; }
    .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker:hover, .annotated-wrapper .annotated-bg .pins-wrapper .map-pins span.marker:focus {
      background: url("imgs/hover-marker.png") no-repeat center center; }

/*# sourceMappingURL=default.css.map */
